section[role=main] {
    @include outer-container;
    @include pad(0 2em 0 2em);
    @include media($bp-large) {
        @include pad(default);
    }

    article {
        @include media($bp-large) {
            @include span-columns(7);
            @include shift(2.5);
        }
    }
}

aside {
	float:left;
    padding: 0 0 2em 0;
    @include media($bp-large) {
        @include span-columns(4);
    }
	ul {
		margin-left:0;
		padding-left:0;
		list-style:none;
		li {
			margin-left:0;
			padding-left:0;
			a {
				color:$black;
			}
		}
	}
}

.team {
    @include media($bp-large) {
        @include span-columns(7);
        @include shift(1);
        .list {
            margin-top: 0;
            @include span-columns(3 of 7);
            @include omega(2n);
            &:nth-child(2n) {
                @include shift(1);
            }
			
        }
    }
}
.post-container {
	@include span-columns(5);
	@include media($bp-large) {
        @include span-columns(10);
		@include shift(1);
    }
}

.post {
	border:1px solid #cbcbcb;
	margin-bottom:50px;
	padding: 20px;
	@include media($bp-large) {
		width:30%;
		margin-left:2%;
		margin-right:2%;
		float:left;
		&:nth-child(3n) {
			margin-right:0;
		}		
		&:nth-child(3n+1) {
			margin-left:0;
		}		
		small {
			color:$black;
		}
		.post-image {
			background-position: center center;
            background-repeat:no-repeat; 
			background-size: cover; 
			float:left;	
			height: 250px; 
			overflow: hidden;
			width: 100%;
			img {
                border-radius: 10%;
            }
		}
		.post-content {
			flaot:left;
			margin-left:170px;
			margin-bottom: 55px;
			h4 {
				margin-bottom:0.5em;	
			}
			a {
				color:$black;
				text-decoration:none;
			}
		}
	}
}

.block-grid-2 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }
    &:nth-child(2n) {
        margin-right: 0;
		clear:both;
    }
}

.oddeven:nth-of-type(odd) { 
    @include row();
    border-bottom: 2px solid $light-gray;
    margin: 1em 0 1em 0;
    .image {
        @include media($bp-large) {
            width: 30%;
            float: left;
            padding: 3em 2em 0 0;
        }
    }
    .content {
        @include media($bp-large) {
            width: 70%;
            float: right;
        }
    }
}

.oddeven:nth-of-type(even) {
    @include row();
    border-bottom: 2px solid $light-gray;
    margin: 1em 0 1em 0;
    .image {
        @include media($bp-large) {
            width: 30%;
            float: right;
            padding: 3em 0 0 2em;
            img {
                float: right;
            }       
        }
    }
    .content {
        @include media($bp-large) {
            width: 70%;
            float: left;
        }
    }
}

.order-form-container {
	overflow:hidden;
	.content {
		@include row;
		@include omega;
		@include span-columns(5);
		@include media($bp-large) {
			@include span-columns(4 of 12);
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
		.step-box {
			width:95%;
			float:left;
		}
		.icon {
			float:left;
			padding-right:1em;
		}
	}
}
#map_sidebar {
	margin-top:2em;
}
.results_wrapper {
	@include row;
	@include omega;
	@include span-columns(5);
	@include media($bp-large) {
		@include span-columns(4 of 12);
	}
	&:nth-child(3n) {
		margin-right: 0;
	}
	margin-bottom:1.5em;
	.results_row_left_column {
		display:block;
		width:100%;
		margin-bottom: 1em;
		overflow: hidden;
	}
	.results_row_center_column {
		margin-bottom: 1em;
		width:100%;
		display:block;
	}
	.results_row_right_column {
		width:100%;
		display:block;
		text-align:left;
	}
}
#map {
	height:250px;
	@include media($bp-large) {
		height: 500px;
	}	
}
#slp_tagline {
	display:none;
}