section[role=main] {
    @include outer-container;
    @include pad(0 2em 0 2em);
    @include media($bp-large) {
        @include pad(default);
    }

    article {
        @include media($bp-large) {
            @include span-columns(7);
            @include shift(2.5);
        }
    }
}

aside {
	float:left;
    padding: 0 0 2em 0;
    @include media($bp-large) {
        @include span-columns(4);
    }
	ul {
		margin-left:0;
		padding-left:0;
		list-style:none;
		li {
			margin-left:0;
			padding-left:0;
			a {
				color:$black;
			}
		}
	}
}

.team {
    @include media($bp-large) {
        @include span-columns(7);
        @include shift(1);
        .list {
            @include span-columns(3 of 7);
            @include omega(2n);
            &:nth-child(2n) {
                @include shift(1);
            }
			
        }
    }
}
.post-container {
	@include media($bp-large) {
        @include span-columns(7);
		padding-right: 50px;
		border-right:1px solid #cbcbcb;
        @include shift(1);
    }
}

.post {
	@include media($bp-large) {
		border-bottom:1px solid #cbcbcb;
		&:last-child {
			border-bottom:none;
		}		
		small {
			color:$black;
		}
		.post-image {
			float:left;	
            img {
                border-radius: 10%;
            }
		}
		.post-content {
			flaot:left;
			margin-left:170px;
			margin-bottom: 55px;
			h4 {
				margin-bottom:0.5em;	
			}
			a {
				color:$black;
				text-decoration:none;
			}
		}
	}
}

.block-grid-2 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }
    &:nth-child(2n) {
        margin-right: 0;
		clear:both;
    }
}

.oddeven:nth-of-type(odd) { 
    @include row();
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1em;
    .image {
        @include media($bp-large) {
            width: 40%;
            float: left;
            padding-top: 3em;
        }
    }
    .content {
        @include media($bp-large) {
            width: 60%;
            float: right;
        }
    }
}

.oddeven:nth-of-type(even) {
    @include row();
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1em;
    .image {
        @include media($bp-large) {
            width: 30%;
            float: right;
            padding-top: 3em;
            img {
                float: right;
            }       
        }
    }
    .content {
        @include media($bp-large) {
            width: 70%;
            float: left;
        }
    }
}
