section[role=main] {
    @include outer-container;
    @include pad(0 2em 0 2em);
    @include media($bp-large) {
        @include pad(default);
    }

    article {
        @include media($bp-large) {
            @include span-columns(7);
            @include shift(2.5);
        }
    }
}

aside {
	float:left;
    padding: 0 0 2em 0;
    @include media($bp-large) {
        @include span-columns(4);
    }
}

.team {
    @include media($bp-large) {
        @include span-columns(7);
        @include shift(1);
        .list {
            @include span-columns(3 of 7);
            @include omega(2n);
            &:nth-child(2n) {
                @include shift(1);
            }
			
        }
    }
}

.post {
	@include media($bp-large) {
		border-bottom:1px solid grey;
		&:last-child {
			border-bottom:none;
		}
		.post-image {
			float:left;			
		}
		.post-content {
			flaot:left;
			margin-left:170px;
			margin-bottom: 55px;
			h4 {
				margin-bottom:0.5em;	
			}
			a {
				color:$black;
				text-decoration:none;
			}
		}
	}
}

.block-grid-2 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }
    &:nth-child(2n) {
        margin-right: 0;
		clear:both;
    }
}