footer {
    background: $footer-background-color;
    .footer-inner {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
        @include outer-container;
        padding: 2em;

        .content {

            p, h5 {
                margin-bottom: 0;
            }

            ul li {
                &:last-child {
                    margin-bottom: 2em;
                }
            }
            @include media($bp-mid) { 
                &:nth-of-type(1) {
                    @include span-columns(2);
                    margin-right: 3em;
                }   
                &:nth-of-type(2) {
                    @include span-columns(3);
                }
                &:nth-of-type(3) {
                    @include span-columns(3);
                }
                &:nth-of-type(4) {
                    @include span-columns(3);
                }

                fieldset {
                    margin-top: -0.5em;
                }

                ul li {
                    margin-top: -0.5em;
                    margin-bottom: 0.625em;
                }

                 p {
                     margin-bottom: 0;
                 }
            }
        }

        @include media ($bp-small){
            .footer_logo, .copyright {
                display: none;
            }
        }

        .button-map {
            border-bottom: 1px solid white;
            @include media($bp-small) {
                border-bottom: none;
            }
        }
    }

    .copyright {
        width: 100%;
        text-align: center;
        display: inline-block;
        clear: both;
        margin: 0.5em 0 0 0;
    }

    .fLogo_area {
        text-align: center;
    }

    .latest-news {
        ul {
            li {
                margin-left: 0;
            }
        }
    }
}