footer {
    color: $footer-text-color;
    background: $footer-background-color;
    .footer-inner {
        @include outer-container;
        padding: 0 2em 2em 2em;
        .content {
            @include span-columns(5);
            @include media($bp-mid) {
                @include span-columns(3);
                &:nth-of-type(2) {
                    @include shift(1);
                    @include span-columns(4);
                }
                &:nth-of-type(3) {
                    @include span-columns(3);
                    @include shift(1);
                }
            }
        }
        .copyright {
            text-align: center;

        }
    }
}
