footer {
    background: $footer-background-color;
    .footer-inner {
        @include outer-container;
        padding: 2.25em 2em;
        .content {
            @include span-columns(5);

            @include media($bp-mid) {
                @include span-columns(3);

                &:nth-of-type(2) {
                    @include shift(0);
                    @include span-columns(3);
                    margin-left: 2em;
                }

                &:nth-of-type(3) {
                    @include shift(0);
                    @include span-columns(3);
               }

               &:first-of-type {
                    @include span-columns(2);
               }

                &:last-of-type {
                    @include span-columns(3);
                }

                fieldset {
                    margin-top: -0.5em;
                }

                ul li {
                    margin-top: -0.5em;
                }

                 p {
                     margin-bottom: 0;
                 }

                 h5 {
                    font-size: 1.25em;
                    margin-top: 0;
                    margin-bottom: 0.5em;
                 }
            }
        }

        @include media ($bp-small){
            .footer_logo, .copyright {
                display: none;
            }
        }
    }

    .copyright {
        text-align: center;
        display: inline-block;
        clear: both;
        margin: 1em 0 0 0;
    }

    .fLogo_area {
        text-align: center;
    }
}


