section[role=banner] {
    position: absolute;
    width: 100%;
    z-index: 999;
    header {
        height: 30px;
        .logo {
            float: left;
            height: auto;
            max-width: 140px;
            padding: 1em 0 0 1em;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
