section[role=banner] {
    position: fixed;
    width: 100%;
    background-color: $green;

    @include media($bp-mid) {
        position: absolute;
        background-color: transparent;
		z-index:1;
    }
    header {
        .mobile_sticky h1 {
            font-size: 1em;
            margin: 1.7em 0 1.5em 2.6em;
            color: white;
            display: inline-block;

            @include media ($bp-mid) {
                display: none;
            }
        }
    	@include transition(all 2s ease);
        .logo {
            float: left;
            height: auto;
            max-width: 130px;
            padding: .5em 0 .5em .5em;
            &:hover {
                opacity: 0.8;
            }

            display: none;
            @include media($bp-mid) {
                max-width: 400px;
                padding: 1em 0 0 3em;
                display: block;
            }
        }
        .logo_sticky {
            display: none;

            h1 {
                // font-size: 0.79em;
                // margin: 1.75em 0;

                .tagline {
                    // display: none;
                }
            }
        }

		@include media($bp-mid) {
			&.sticky {
				@include transition(all 2s ease);
				position:fixed;
				width:100%;
				background: $green;
				z-index: 9999;
				.logo_sticky {
					display: block;
				}		
				.logo {
					display: none;
				}
			}
		}
    }
}