section[role=banner] {
    position: fixed;
    width: 100%;
    background-color: $header-background-color;
    @include media($bp-mid) {
        position: absolute;
        background-color: transparent;
		z-index:1;
    }
    header {
    	@include transition(all 2s ease);
        .logo {
            float: left;
            height: auto;
            max-width: 130px;
            padding: .5em 0 .5em .5em;
            &:hover {
                opacity: 0.8;
            }
            @include media($bp-mid) {
                max-width: 400px;
                padding: 1em 0 0 3em;
            }
        }
        .logo_sticky {
        	display: none;
        }

		@include media($bp-mid) {
			&.sticky {
				@include transition(all 2s ease);
				position:fixed;
				width:100%;
				background:#188548;
				z-index: 9999;
				.logo_sticky {
					display: block;
				}		
				.logo {
					display: none;
				}
			}
		}
    }
}