section[role=slider] {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: rgba(0,0,0,0.8);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
    header {
        @include outer-container;
    }
    hgroup {
		@include span-columns(5);
		padding:2em 2em;
		@include media($bp-large) {
			@include span-columns(10);
			@include shift(1);
			padding:3.5em 2em;
		}
    }
}

