.wrap {
    position: relative;
}

.top-nav {
    color: $white;
    float: right;
    font-family: $sans-serif;
    text-transform: uppercase;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {
            float: left;
            margin: 0;
            vertical-align: middle;
            padding: .35em 1.2em 0 0;
            &:nth-child(2) {
                font-size: 1.2em;
                padding: .4em 1.5em 0 0;
                a {
                    color: $white;
                }
            }
        }
    }
}

nav {
    position: fixed;
    right: -15.625em;
    width: 15.625em;
    background-color: $dark-gray;
    ul {
        list-style-type: none;
        margin: 2em .5em 0 0;
        li {
            font-size: 1.3em;
            margin: 0;
            a {
                color: $white;
                &:hover {
                    color: #ccc;
                }
            }
        }
    }
}
