.down-arrow {
	background: $white;
    border: 2px solid $white;
    border-radius:50%;
    bottom: 75px;
	color:$base-font-color;
    left: 0;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    width: 50px;
    text-align: center;
    right: 0;
    @include transition-duration(0.3s);
	z-index: 1;
}

.down-arrow a {
	color:$base-font-color;
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	.fa-chevron-down {
		margin-top: 33%;
	}
}

.down-arrow:hover {
    background: none;
    border: 2px solid $white;
    @include transition-duration(0.3s);
}

.down-arrow:hover a {
    color: $white;
}