fieldset {
    border: 0;
    padding: 0;
    ol {
        li {
            display: block;
            margin-bottom: 1em;
            margin: 0 0 0 -40px;
        }
    }
}

input,
label,
select {
    display: block;
    font-family: $form-font-family;
    font-size: $form-font-size;
}

label {
    font-weight: bold;
    margin-bottom: $base-line-height / 4;
    &.required:after {
        content: "*";
    }
    abbr {
        display: none;
    }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $form-border-radius;
    border: 1px solid $form-border-color;
    box-shadow: $form-box-shadow;
    font-family: $serif;
    font-size: 1.1em;
    margin-bottom: $base-line-height / 2;
    padding: $base-line-height / 2.3 $base-line-height / 2.3;
    width: 100%;
    margin-right: 10px;
    color: $dark-gray;
    &:hover {
        border-color: $form-border-color-hover;
    }
    &:focus {
        border-color: $form-border-color-focus;
        box-shadow: $form-box-shadow-focus;
        outline: none;
        color: rgb(54, 116, 187);
    }
}

footer input[type="submit"] {
    -webkit-font-smoothing: antialiased;
    background-color: $light-gray;
    border-radius: $base-border-radius;
    color: $dark-gray;
    display: inline-block;
    font-size: $base-font-size;
    font-family: $serif;
    font-size: 1em;
    padding: .7em 2em;
    width: 100%;
    text-decoration: none;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    &:hover {
        background-color: $green;
        color: white;
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
    margin-right: $base-line-height / 4;
}

input[type="file"] {
    margin-bottom: $base-line-height / 2;
    padding-bottom: $base-line-height / 3;
    width: 100%;
}

select {
    margin-bottom: $base-line-height;
    max-width: 100%;
    width: auto;
}

.gform_wrapper {
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            margin: 1em 0 0 0;
        }
    }
    label {
        font-size: .9em;
        font-weight: normal;
        font-family: $serif;
    }
    input {
        @include placeholder {
            font-size: .9em;
        }
    }
    input[type="text"], input[type="email"]  {
        padding: .2em .2em;
    }
    input[type="checkbox"] {
        float: left;
        display: inline-block;
        margin-top: 12px;
    }
    
    input[type="submit"] {
        @extend button;
    }
}

.store-search {
    position: relative;
    overflow: hidden;
    input[type="text"] {
        width:65%;
        float:left;
    }
    input[type="submit"] {
        width:20%;
        float:left;
        margin-left:5%;
    }
}

.green-box {
    background-color: #06AD60;
    padding:50px 20px;
    color:$white;
    margin: 0;
    width: 90%;
}

aside {
	#searchForm {
		LABEL {
			text-align:left;
			font-size:1.25em;
		}
		.search_item {			
			width:98%;
			margin-bottom: 0.5em;
			overflow: hidden;
		}
		select {
			font-size: 1.5em;
			padding: 8px 5px;
			width:100%;
			margin-bottom:1em;				
			@include box-sizing(border-box);
			@include transition(border-color);
			background-color: white;
			border-radius: $form-border-radius;
			//border: 1px solid $form-border-color;
			box-shadow: $form-box-shadow;
		}
		input[type="text"] {
			width:100%;
		}
	}
	#address_search {
		overflow:hidden;
		margin-bottom:2em;
		#addy_in_radius {
			display:block;
			width:100%;
		}
		input[type="submit"] {
			@extend button;
		}
	}
}