.down-arrow {
    position: absolute;
    border: 2px solid #ffffff;
    bottom: 75px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 10px;
    border-radius: 50%;
    @include transition-duration(0.3s);
}

.down-arrow {
    color: #222;
    background: #ffffff;
}

.down-arrow a {
    color: #222;
}

.down-arrow:hover {
    background: none;
    border: 2px solid #ffffff;
    @include transition-duration(0.3s);
}

.down-arrow:hover a {
    color: #ffffff;
}