button {
    @extend %button;
    padding: .4em .5em;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
