button {
    @extend %button;
    padding: .4em .5em;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-map {
    //@include media($bp-mid) {
    @extend %button-touch;

    //}
	
	
}

.button-phone {
	@extend %button-touch;
	background-color: #06AD60;
}

.button-email {
	@extend %button-touch;
	
}
