@include font-face(Mono Social Icons Font, 'dist/fonts/MonoSocialIconsFont-1.10', normal, normal);

body {
    -webkit-font-smoothing: antialiased;
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    //line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    text-rendering: optimizeLegibility;
}

h1 { font-size: modular-scale(6); }

h2 { font-size: modular-scale(5); }

h3 { font-size: modular-scale(4); }

h4 { font-size: modular-scale(3); }

h5 { 
    font-size: modular-scale(2); 
    text-transform: uppercase;
    @include margin(null null 1em null);
}

h6 { 
    font-size: modular-scale(1); 
}

p, ul, ol {
    list-style-type: disc;
    font-size: $base-font-size * 1.25;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 100;
}

.team {
    p {
    font-size: $base-font-size;
    }
    img {
        border-radius: 10%;
    }
    a {
        text-decoration: none;
    }
}

li {
    margin: 0 0 .5em 2.5em;
}

li ul li {
    margin: .5em 0 0 1.5em;
    font-size: .8em;
}

a {
    @include transition(opacity 0.1s linear);
    color: $blue;
    opacity: 1;
    text-decoration: none;
    border-bottom: 1px solid $blue;
    &:hover {
        opacity: 0.6;
        text-decoration: none;
    }
    &:active, &:focus {
        opacity: 0.6;
        outline: none;
    }
}

hr {
    border-bottom: 1px solid $base-border-color;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-line-height 0;
}

img {
    margin: 0;
    max-width: 100%;
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin: $base-line-height 0;
    padding-left: $base-line-height / 2;
}

cite {
    color: lighten($base-font-color, 25);
    font-style: italic;
    &:before {
        content: '\2014 \00A0';
    }
}

small {
    font-family: $serif;
    font-size: .9em;
    color: $footer-text-color;
}

.footer-inner {
    & h5, p, ol, ul, a {
        font-size: $base-font-size; 
        color: $footer-text-color;
        a {
            border-bottom: none;
        }
    }
}

.footer-inner ul, ol, .list {
    list-style: none;
    li {
        margin: 0 0 0 -40px;
    }
}

.footer-inner ul, ol {
    margin: 1.5em 0 0 0;
}

.list {
    margin: 2.5em 0 0 0;
}

.headline {
    font-family: $sans-serif;
    font-weight: 100;
    color: $white;
    @include media($bp-mid) {
        font-size: modular-scale(4);
    }
    a {
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid $white;
        &:hover {
            opacity: 0.6;
        }
    }
    .home-font {
        font-family: $serif;
    }
}

.error {
    @include flash($error-color);
    display: none;
    @include media($bp-large) {
        @include span-columns(8);
        @include shift(2);
    }
}

.success {
    display: none;
    text-align: center;
}

.wf-loading {
    visibility: hidden;
}

.copyright {
        text-align: center;
    }
